.Container, .Container-1 {
    border: 1px solid black;
    margin:0 auto;
    width: 75%;
    text-align: center;
}

.btn-btn {
    color: white;
    background-color: blue;
    
}

.Container button, .Container-1 button {
    border: 1px solid black;
    padding: 5px;
}